###############################################################################
# Copyright (c) 2022-23, Lawrence Livermore National Security, LLC and RADIUSS
# project contributors. See the COPYRIGHT file for details.
#
# SPDX-License-Identifier: (MIT)
###############################################################################

###############################################################################
# VARIABLES
###############################################################################

variables:
# Tells Gitlab to recursively update the submodules when cloning the project.
  GIT_SUBMODULE_STRATEGY: recursive
# SHARED_CI CONFIGURATION
# Required information about GitHub repository
  GITHUB_PROJECT_NAME: "Quandary"
  GITHUB_PROJECT_ORG: "LLNL"
# Set the build-and-test command.
# Nested variables are allowed and useful to customize the job command. We
# prevent variable expansion so that you can define them at job level.
  JOB_CMD:
    value: ".ci-scripts/build_and_test.sh"
    expand: false

###############################################################################
# MAIN PIPELINE STAGES
###############################################################################

stages:
  - prerequisites
  - build-and-test
  - performance-measurements

###############################################################################
# INCLUDES
###############################################################################

include:
  # Sets ID tokens for every job using `default:`
  - project: 'lc-templates/id_tokens'
    file: 'id_tokens.yml'

  # Base pipeline templates and utilities
  - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/base-pipeline@woptim/migrate-to-components
    inputs:
      github_project_name: $GITHUB_PROJECT_NAME
      github_project_org: $GITHUB_PROJECT_ORG
      github_token: $GITHUB_TOKEN

  # Local custom variables (used for component inputs and forwarded to child pipelines)
  - local: '.gitlab/custom-variables.yml'

###############################################################################
# MACHINE PIPELINES
###############################################################################

# One job to generate the job list for all the subpipelines
generate-job-lists:
  stage: prerequisites
  tags: [shell, oslic]
  variables:
    RADIUSS_JOBS_PATH: ".ci-scripts/radiuss-spack-configs/gitlab/radiuss-jobs"
    LOCAL_JOBS_PATH: ".gitlab/jobs"
  script:
    - cat ${RADIUSS_JOBS_PATH}/dane.yml ${LOCAL_JOBS_PATH}/dane.yml > dane-jobs.yml
    - cat ${RADIUSS_JOBS_PATH}/tioga.yml ${LOCAL_JOBS_PATH}/tioga.yml > tioga-jobs.yml
  artifacts:
    paths:
      - dane-jobs.yml
      - tioga-jobs.yml

# DANE
dane-up-check:
  extends: [.dane, .machine-check]

dane-build-and-test:
  stage: build-and-test
  extends: [.dane]
  needs: [dane-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/dane-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $DANE_SHARED_ALLOC
          job_alloc: $DANE_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'dane-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# TIOGA
tioga-up-check:
  extends: [.tioga, .machine-check]

tioga-build-and-test:
  stage: build-and-test
  extends: [.tioga]
  needs: [tioga-up-check, generate-job-lists]
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/tioga-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          shared_alloc: $TIOGA_SHARED_ALLOC
          job_alloc: $TIOGA_JOB_ALLOC
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - artifact: 'tioga-jobs.yml'
        job: 'generate-job-lists'
    strategy: depend
    forward:
      pipeline_variables: true

# PERFORMANCE
performance-test:
  stage: performance-measurements
  trigger:
    include:
      - local: '.gitlab/custom-jobs.yml'
      - component: $CI_SERVER_FQDN/radiuss/radiuss-shared-ci/performance-pipeline@woptim/migrate-to-components
        inputs:
          job_cmd: $JOB_CMD
          perf_processing_cmd: "${CI_PROJECT_DIR}/tests/performance/convert_benchmark_format.py"
          github_project_name: $GITHUB_PROJECT_NAME
          github_project_org: $GITHUB_PROJECT_ORG
      - local: '.gitlab/jobs/performances.yml'
    strategy: depend
    forward:
      pipeline_variables: true
  variables:
    PERFORMANCE_TESTS: "true"
