[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt.git
[submodule ".ci-scripts/radiuss-spack-configs"]
	path = .ci-scripts/radiuss-spack-configs
	url = https://github.com/LLNL/radiuss-spack-configs
[submodule ".ci-scripts/uberenv"]
	path = .ci-scripts/uberenv
	url = https://github.com/LLNL/uberenv.git
[submodule "examples"]
	path = examples
	url = https://github.com/LLNL/quandary-examples/
