.vscode
*.out
*.dat
/build*
quandary-*.cmake
/quandary
*.aux
*.log
*.err
*.batch
*.pdf
*.DS_Store
quandary.code-workspace
__pycache__
run_dir/
.spack_env/.spack-env/
.spack_env/spack.lock
.benchmarks/
